<div class="divider flex items-center justify-center align-self-stretch spacing-style" style="{% render 'section-spacing-style', settings: block.settings %}" {{ block.shopify_attributes }}>
  <span class="divider__line" style="--divider-border-thickness: {{ block.settings.thickness }}px;--divider-flex-basis: {{ block.settings.width_percent }}%;--divider-border-rounded: {% if block.settings.corner_radius == 'rounded' %}1{% else %}0{% endif %}em;"></span>
</div>

{% schema %}
{
  "name": "t:blocks.divider.name",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "thickness",
      "label": "t:blocks.divider.settings.thickness.label",
      "min": 0.5,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "default": 1
    },
    {
      "type": "select",
      "id": "corner_radius",
      "label": "t:blocks.divider.settings.corner_radius.label",
      "options": [
        {
          "value": "square",
          "label": "t:blocks.divider.settings.corner_radius.options__1.label"
        },
        {
          "value": "rounded",
          "label": "t:blocks.divider.settings.corner_radius.options__2.label"
        }
      ],
      "default": "square",
      "visible_if": "{{ block.settings.thickness > 1 }}"
    },
    {
      "type": "range",
      "id": "width_percent",
      "label": "t:blocks.divider.settings.length.label",
      "min": 5,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:blocks.group.settings.header__padding.content"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:blocks.group.settings.padding_top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:blocks.group.settings.padding_bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:blocks.group.settings.padding_left.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:blocks.group.settings.padding_right.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:blocks.divider.name",
      "category": "t:categories.layout"
    }
  ]
}
{% endschema %}
