<style>
    .collection__suit
    {
        width:100%;
        display:block; 
        margin:40px 0;
    }
    .collection__suit h3
    {
      text-align:center;
      width:100%;
      display:block;
      font-size:1px;
      color:transparent;
    }
    .collection__suit ul
    {
         width:100%;
        display:flex;
        justify-content:center;
        gap:30px;
        overflow-x:auto;
    }
    .collection__suit ul li
    {
        width:auto;
        display:block;
    }
    .collection__suit ul li a
    {
        width:100px;
        display:block;
        text-align:center; 
    }
     .collection__suit ul li a span
    {
        width:80px; 
        height:80px; 
        border-radius:50%;
        display:flex;
        background-size:cover; 
        background-position:center; 
        display:block; 
        margin:0 auto;
    }
    .collection__suit ul li a b
    {
        width:auto;
        display:block;
        color:#ff5198;
        padding-top:10px;
    }
</style>


<div class="collection__suit">  
  {% assign suit_collections = collection.metafields.custom.collection_suit.value %} 
  <h3>{{ collection.title }}</h3>

  {% if suit_collections != blank %}
    <ul>
      {% for suit_collection in suit_collections %}
        {% assign current_title = suit_collection.title %}
        {% assign parent_title = collection.title %}

        <li>
          <a href="{{ suit_collection.url }}">
            <span 
              style="background-image:url({{ suit_collection.image | img_url: 'master' }}); 
                     {% if current_title == parent_title %}border:2px solid #FF5198;{% endif %}">
            </span>
            <b>{{ suit_collection.title }}</b> 
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %} 
</div>


{% schema %}
{
  "name": "Collection Suit", 
  "settings": [],
  "blocks": [], 
  "presets": [
    {
      "name": "Collection Suit"
    }
  ]
}
{% endschema %}
 
