<style>
    .collection__suit
    {
        width:100%;
        display:block; 
        margin:40px 0;
    }
    .collection__suit h3
    {
      text-align:center;
      width:100%;
      display:block;
    }
    .collection__suit ul
    {
         width:100%;
        display:flex;
        justify-content:center;
        gap:30px;
        overflow-x:auto;
    }
    .collection__suit ul li
    {
        width:auto;
        display:block;
    }
    .collection__suit ul li a
    {
        width:100px;
        display:block;
        text-align:center; 
    }
     .collection__suit ul li a span
    {
        width:100px; 
        height:100px; 
        border-radius:50%;
        display:flex;
        background-size:cover; 
        background-position:center; 
        display:block; 
    }
    .collection__suit ul li a b
    {
        width:auto;
        display:block;
        color:#ff5198;
        padding-top:10px;
        text-transform:uppercase;
    }
</style>


<div class="collection__suit">  
{% assign suit_collections = collection.metafields.custom.collection_suit.value %} 
<h3>{{ collection.title }}</h3>
{% if suit_collections != blank %}
  <ul>
    {% for suit_collection in suit_collections %}
      <li>
       <a href="{{ suit_collection.url }}">
        <span style="background-image:url({{ suit_collection.image | img_url: 'master' }});">
        </span>
        <b>{{ suit_collection.title }}</b> 
      </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}




</div>
{% schema %}
{
  "name": "Collection Suit", 
  "settings": [],
  "blocks": [], 
  "presets": [
    {
      "name": "Collection Suit"
    }
  ]
}
{% endschema %}
 
