<style>
    .collection__suit
    {
        width:100%;
        display:flex;
        justify-content:center;
        margin:40px 0;
    }
    .collection__suit ul
    {
         width:100%;
        display:flex;
        justify-content:center;
        gap:40px;
        overflow-x:auto;
    }
    .collection__suit ul li
    {
        width:auto;
        display:block;
    }
    .collection__suit ul li a
    {
        width:100px;
        display:block; 
    }
     .collection__suit ul li a img
    {
        width:60px;
        height:60px;
        border-radius:50%;
        display:flex;
        margin:0 auto;
    }
    .collection__suit ul li a b
    {
        width:auto;
        display:block;
        color:#ff5198;
        padding-top:10px;
        text-transform:uppercase;
    }
</style>


<div class="collection__suit"> 

{% assign suit_collections = collection.metafields.custom.collection_suit.value %}
   

{% if suit_collections != blank %}
  <ul>
    {% for suit_collection in suit_collections %}
      <li>
        <a href="{{ suit_collection.url }}">
          {% if suit_collection.image %}
            <img src="{{ suit_collection.image | img_url: '600x600' }}" alt="{{ suit_collection.title }}">
          {% endif %}
          <b>{{ suit_collection.title }}</b>
        </a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No collections selected in metafield.</p>
{% endif %}




</div>
{% schema %}
{
  "name": "Collection Suit", 
  "settings": [],
  "blocks": [], 
  "presets": [
    {
      "name": "Collection Suit"
    }
  ]
}
{% endschema %}
 
