.rbr-page-container
{
    background:#5e5c5c06 !important;
}
.rbr-page-container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  flex-wrap: nowrap !important; 
} 
.rbr-page-container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div > div:first-child {
  min-width: 250px;
  flex-direction:column !important;
}
.rbr-page-container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div > div:first-child > div:first-child
{
    width:100% !important;
    height: 300px !important;
    background-size: cover;
}
body.template-product #shopify-section-template--19637427241201__main-product .section {
    padding-top: 0px !important;
}


@media only screen and (max-width: 600px)
{ 
.rbr-page-container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div > div:first-child {
  min-width: 250px;
  flex-direction:column !important;
}
.rbr-page-container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div > div:first-child > div:first-child
{
    width:100% !important;
    height:200px !important;
}
/* .rbr-page-container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div > div:first-child > div > div:last-child
{
flex-direction:column !important;
} */


}